*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  height: 100%;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.hero {
  color: white;
  text-align: center;
  padding: 5em 8em 10em;
  background: black;
}
@supports (background-blend-mode: multiply) {
  .hero {
    background: url(/img/newlapbg.jpeg), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
  }
}

.container_content {
  width: 100%;
  height: 100%;
  max-width: 30cm;
  margin: 0 auto;
  padding: 10em;
}

.primary-title {
  /* font-size: 4rem; */
  font-size: clamp(3rem, calc(5vw+1rem), 4.5rem);
  line-height: 1;
}

/* new design of sidenav cards nav bar  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}

.sidebar{

  width: 330px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #424242;
  z-index: 1;
  overflow-x: hidden;
  transition: width 300ms;
}


.sidebar-brand {
  height: 80px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brand span{
  display: inline-block;
  padding-right: 0.5rem;
  font-size: 25px;
}
.sidebar-menu {
  margin-top: 1.5rem;
}
.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 2rem;
}

.sidebar-menu a{
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.sidebar-menu a.active{
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child{
  font-size: 1.5rem;
  padding-right: 1rem;
}

#nav-toggle:checked + .sidebar{
  width:70px;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li{
  padding-left:1rem;
}

#nav-toggle:checked + .sidebar li a {
  padding-left:0rem;
  text-align: center;
}

#nav-toggle:checked + .sidebar li a span {
  padding-right: 1rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li  a span:last-child{
  display: none;
}
#nav-toggle:checked ~ .main-content{
  margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header{
  width: calc(100% - 70px);
  left: 70px;
}



.main-content{
  transition: marginleft 300ms;
  margin-left: 330px;
}

header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.7rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  height: 14%;
  left: 330px;
  width: calc(100% - 335px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
  margin-left: 0;
}

#nav-toggle{
  display:none;
}

header h5{
  color: #222;
}

header label span{
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.search-wrapper{
  border: 1px solid black;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items:center;
  overflow-x: hidden;
}

.search-wrapper span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-wrapper input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}

.user-wrapper{
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.user-wrapper img{
  border-radius: 50%;
  margin-left:  0.5rem;
  margin-right: 0.3rem;
}
.user-wrapper button{
  display: inline-block;
}

main{
  margin-top: 85px;
  padding: 1.5rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 330px);
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-top: 0.5rem;
}
.card-single{
  display: flex;
  justify-content: space-between;
  background: #fff;
  color: black;
  padding: 1.5rem;
  border-radius: 2px;
}


.card-single div:last-child span{
  font-size: 3.5rem;
  color:  black;
}
.card-single div:first-child span{
  color: #424242;
}

/* .card-single:last-child{
  background: #424242;
} */


.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
  color: #424242;
}

@media only screen and (max-width: 1200px) {
     .sidebar{
      width:70px;
    }
    .sidebar .sidebar-brand,
    .sidebar li{
      padding-left:1rem;
    }

    .sidebar li a {
      padding-left:0rem;
      text-align: center;
    }

    .sidebar li a span {
      padding-right: 1rem;
    }

    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li  a span:last-child{
      display: none;
    }
    .main-content{
      margin-left: 70px;
    }

    .main-content header{
      width: calc(100% - 70px);
      left: 70px;
    }

}

/* dropdown select css */
.wrap {
  max-width: 100%;
}
.select-css {
    display: block;
    font-size: 1.2rem;
    /* font-family: sans-serif; */
    /* font-weight: 700; */
    color: #9e9e9e;
    cursor: text;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0px 0px 0px 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.7);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 0px 1px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}

/* form css */
